/*  your css code here. If applicable */
body{
	background-color:#f6f6f6
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	font-family:Arial,sans-serif;
}
.left{
	width:450px;
	margin-top:70px;
	display:inline-block;
}
.left img{
	width:450px;
	margin-bottom:20px;
}
.left p{
	font-size:20px;
	color:#1c1e21;
	
}
.right{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:15px
	
}

form{
	display:flex;
	flex-direction:column;
	gap:10px;
	width:300px;
	background-color:#fff;
	padding:20px;
	border-radius:5px;
	box-shadow:0 0 10px #ccc;
	
}
form input{
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px;
}
form button{
	background-color:#1877f2;
	color:#fff;
	border:none;
	border-radius:5px;

	padding:10px 20px;
	width:100%;
	font-size:16px;
	cursor:pointer;
	
}
form a{
	color:#1877f2;
	text-decoration:none;
	font-size:14px;
	text-align:center;
	margin-top:5px;
}
.signup {
	background-color:#42b72a;
	color:#fff;
	border:none;
	border-radius:5px;
	padding:10px 20px;
	font-size:16px;
	cursor:pointer;
	width:200px;
	
}

